apiVersion: v1
kind: Secret
data:
  AWS_ACCESS_KEY_ID: asdasdasdas=
  AWS_SECRET_ACCESS_KEY: asdasdasdas=
  AWS_REGION: dXMtZWFzdC0xCg==
metadata:
  name: s3-onprem-combopurifier
  namespace: spark-jobs
type: Opaque