---
apiVersion: v1
kind: Secret
metadata:
  name: aws-credentials
  namespace: minio-dev
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: ASDASDASDSA      # Replace with your AWS Access Key ID
  AWS_SECRET_ACCESS_KEY: SADASDSA+S+DASDASSA  # Replace with your AWS Secret Access Key